<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>
        {% block title %}{{ site_name }}{% endblock %}
    </title>
    {% block stylesheets %}
        <link href="{{ asset('assets/vendor/angular-bootstrap/ui-bootstrap-csp.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    {% endblock %}

</head>
<body ng-controller="AppController" class="gray-bg">
<!--[if lt IE 7]>
<p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please
    <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
</p>
<![endif]-->

<div ui-view></div>
</body>

{% block javascripts %}
    <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/angular/angular.js') }}"></script>
    <script src="{{ asset('assets/vendor/angular-ui-router/release/angular-ui-router.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/angular-bootstrap/ui-bootstrap.min.js') }}"></script>

    <script src="{{ asset('src/app.js') }}"></script>
    <script src="{{ asset('dist/templates.js') }}"></script>
    <script src="{{ asset('src/app.controller.js') }}"></script>
    <script src="{{ asset('src/songsList/songsList.controller.js') }}"></script>
    <script src="{{ asset('src/config.js') }}"></script>

    {#<script src="{{ asset('src/js/main/services/company.dataservice.js') }}"></script>#}

{% endblock %}

</body>
</html>